@import '../../styles/settings.scss';

.background {
  background-image: url('https://pixabay.com/get/g94f3ecb2e41cc2108ebf16cf535da56db613c7bc7618dfb52963a7235370d00864ef1d4110860f6f6c10631cd674902ede2782f86625adc5c3d8267467b4ee84fdb0d61e3123b89310ade1e0a0565353_1920.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 220px;
  margin: 40px 0 40px 0;
  overflow: hidden;
  border-radius: 5px;
}

.listTitle,
.listDescription {
  font-size: 2rem;
  font-weight: 700;
  color: $color-text-title;
  letter-spacing: 2px;
  padding: 8px;
}

.listTitle {
  text-transform: uppercase;
}

.listDescription {
  font-size: 1.5rem;
}

.columns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 15px;
}

