@import '../../styles/settings.scss';

.background {
  background-image: url('https://pixabay.com/get/g19cd15523a6d3d01338abca3db3d293b236a763b91e2adde78f05a91509d6eb9320bf756b8ac025e919212abd08ce0095bdd7e1734a1c9aa5eee4fba093c85143072270dc8d2e69e90fc5c273455c2e4_1920.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 220px;
  margin: 40px 15px 40px 15px;
  overflow: hidden;
  border-radius: 5px;
}

.listTitle,
.listDescription {
  font-size: 2rem;
  font-weight: 700;
  color: $color-text-title;
  letter-spacing: 2px;
  padding: 8px;
}

.listTitle {
  text-transform: uppercase;
}

.listDescription {
  font-size: 1.5rem;
}

.columns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 15px;
}

@media (max-width: 767px) {
  .background {
    height: 150px;
  }
}
