$color-button: #009432; //green
$color-background: #485460; //dark grey
$color-important: #ed4c67; // light red
$color-text-title: #f5f6fa; // white
$color-text-fields: #1e272e; // black
$color-active: #f79f1f; // yellow
$color-navbar: #808e9b; // light grey
$color-fields: #dff9fb; // dark white
$color-border: #7f8fa6; // grey
