@import '../../styles/settings.scss';

.removeButton {
  background: none;
  border: 0;
  cursor: pointer;
  transition: all 0.5s;

  &.transparent {
    background: transparent;

    &:hover {
      color: darken($color-text-fields, 20%);
    }
  }
}
