@import '../../styles/settings.scss';

.header {
  background-color: $color-background;
  font-size: 2rem;
  font-weight: 900;
  text-transform: uppercase;
  color: $color-text-title;
  margin: 15px;
}

.title {
  text-shadow: -13px -1px 7px rgba(30, 39, 46, 1);
}

.background {
  background-image: url('https://images.pexels.com/photos/636237/pexels-photo-636237.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 220px;
  margin: 40px 0 40px 0;
  overflow: hidden;
  border-radius: 5px;
}

@media (max-width: 767px) {
  .header {
    font-size: 1.5rem;
  }

  .background {
    height: 150px;
  }
}
